<!DOCTYPE html>
<html lang="en">
    <head>
        <title>채팅방 목록</title>
    </head>
    <body>
        <h1>채팅방 목록</h1>
        <a href="/channel/create">게시물 생성</a>
        <table style="border: 1px solid;">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>조회수</th>
                    <th>아이피주소</th>
                    <th>게시여부</th>
                    <th>작성자</th>
                    <th>작성일자</th>   
                    <th>수정</th>    
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < channels.length; i++) { %> 
                <tr>
                    <td><%=channels[i].channelIdx%></td>
                    <td><%=channels[i].title%></td>
                    <td><%=channels[i].contents%></td>
                    <td><%=channels[i].view_cnt%></td>
                    <td><%=channels[i].display%></td>
                    <td><%=channels[i].ipaddress%></td>
                    <td><%=channels[i].registDate%></td>
                    <td><%=channels[i].registMemberId%></td>
                    <td><a href="/channel/modify">수정</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>