<!DOCTYPE html>
<html lang="en">
    <head>
        <title>게시물 목록</title>
    </head>
    <body>
        <h1>게시물 목록</h1>
        <a href="/article/create">게시물 생성</a>
        <table style="border: 1px solid;">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>조회수</th>
                    <th>아이피주소</th>
                    <th>게시여부</th>
                    <th>작성자</th>
                    <th>작성일자</th>   
                    <th>수정</th>    
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < articles.length; i++) { %> 
                <tr>
                    <td><%=articles[i].articleIdx%></td>
                    <td><%=articles[i].title%></td>
                    <td><%=articles[i].contents%></td>
                    <td><%=articles[i].view_cnt%></td>
                    <td><%=articles[i].display%></td>
                    <td><%=articles[i].ipaddress%></td>
                    <td><%=articles[i].registDate%></td>
                    <td><%=articles[i].registMemberId%></td>
                    <td><a href="/article/modify">수정</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>